<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotif's World Favarite Artist Song</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />
</head>
<body>
    <main> 
        <div class="container"> 
            <h3>This is not my Favorite Artist</h3>
            <h3>According to Spotify, this Artist is one of the Most Popular</h3>
            <p> &nbsp;</p>
            <p>Song Name: {{Song_Name_Display}}</p>
            
            <p>Artist/s name/s:</p>
            <!--in order to print out multiple artist if needed -->
            {%for i in range(Artist_Length)%} 
                <li>{{Artist_Name_Display[i]}}</li>
            {%endfor%}
            
            <p>Song Preview URL: {{Song_Play}}</p>
            <img src="{{Image_Display}}">
            <p>&nbsp;</p>
            
            <!--to play the preview song if there is any-->
            <audio controls src={{Song_Play}}>
                Your browser does not support the audio element.
                <code>audio</code> elemnt.
            </audio>
            <p> &nbsp;</p>
            <p>Lyrics URL: {{DisplayURL}}</p>
            <p> &nbsp;</p>
            <p>Lyrics:</p>
            <p> &nbsp;</p>
            <p>{{DisplayLyric}}</p>
            
            <p> &nbsp;</p>
            <p>Three New York Times Articles:</p>
            <!--in order to print out multiple article -->
            {%for i in range(0,3)%} 
                <li>{{Artist_Articles[i]}}</li>
            {%endfor%}
        </div>   
    </main>

</body>
</html>